@media all and (max-width: 950px) {
    .top-wrapper h3{
        font-size:45px;
    }
    
    .links {
        
        width:50%;
        margin:0 auto;
     }

    .links p{
        font-size:15px;
    }

    .hello p{
        margin-top:450px ;
        float:left;
    }
 }

 @media screen and (max-width: 600px) {
    .top-wrapper h3{
        font-size:37px;
    }

    .links{
        width:100%;
    }
 }
