*{
    box-sizing:border-box;
}

body{
    
}

header{
    padding:15px 20px;
    background-color:#2fc4ab;
    letter-spacing:15px;
}

.top-wrapper{
    background-image:url(./img/badminton-1.jpg);
    height: 600px;
    background-size: cover;
    
}

.top-wrapper h3{
    text-align:center;
    padding:300px 0;
    font-size:55px;
    color:white;
    
    
}

.link-wrapper h3{
    background-color:#48c42f;
}

.container{
    
}

.links a{
    display:block;
}

.links{
    
    float:left;
    
    padding:20px 0px;
    width:33%;
    margin:0 auto;
}





.links img:hover{
    opacity:0.5;
    padding-top:5px;
}

.links p{
    width:70%;
    
}

.clear{
    clear:left;
}

.title{
    background-color:#48c42f;
}

.image img{
    float:left;
}


.helo p{
    font-size:14px;
    margin:20px 0 20px 30px;
  
    
}

footer{
    padding:15px 20px;
    background-color:#2fc4ab;
    letter-spacing:15px;
}
